*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 1px solid;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    min-width: 450px;
    min-height: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board-control {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
